html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
    background-color: darkslategrey;

}

.container {
  color: whitesmoke;
  max-width: 40em;
  background-color: darkslategrey;
  /* border: 2px solid pink; */
  margin: 0 auto;
}

.title {
  /* background-color:blue; */
  text-align: center;
  padding: 8px;
}

.nav-links {
  /* background-color: darkkhaki; */
  text-align: center;
  padding: 8px;
}

.link {
  display: inline-block;
  color: lightsalmon;
  margin: 10px 20px;
  font-weight: bold;
  font-size: larger;
}

img {
  width: 500px;
  height:auto;
  display: block;
  /* background-color: blanchedalmond; */
  border-radius: 20px 20px 0 0;
  border-bottom: 20px double red;
  margin: 0 auto;
  padding: 10px;
}

.recipe-container {
  border: 2px solid ghostwhite;
  padding: 8px;
  border-radius: 8px 10px;
}